.contact {
  height: 100vh;
  // background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12vh 8vw;
  color: white;
}

.split {
  font-size: 3.2rem;
  line-height: 5rem;
  text-align: center;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-weight: 100;
}

.line {
  overflow: hidden; // mask for reveal
  text-align: center;
}













