.pin-section {
    width: 100%;
    // height: 20vh;
}
.certification-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 0px auto;

    .line {
        width: 80px;
        height: 1px;
        background: #c46b1f;
    }

    h2 {
        font-size: clamp(3.5rem, 6vw, 6.5rem);
        // margin: 0 0 60px;
        font-family: "Antonio", sans-serif;
        color: #fffce1;

    }

    p {
        opacity: 0.7;
    }
}

.content {
    width: 80%;
    // height: 60vh;
    margin: 0 auto;
    display: flex;
    padding: 0 10px;
    position: relative;
    margin-top: 30px;
    transform: translateY(70%);
}

.content ul {
    font-size: 30px;
    color: var(--color-surface-white);
    margin: 0;
    padding: 0;
    padding-right: 10px;
    list-style: none;
//     flex-grow: 0;
}

.content .fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    /* increase while debugging */
    height: 100%;
    background-color: rgb(255, 180, 90);
    z-index: 2;
}

.content .right {
    flex-grow: 1;
    position: relative;
}

.right .slide {
    position: absolute;
    top: -60px;
    left: 45px;
    opacity: 0;
    visibility: hidden;

    img {
        width: 100%;
        border-radius: 5px;
    }

}

.slide:nth-child(3) {
    top: -10px;
}


.certification-list li {
    color: #fffce1;
    font-size: 48px;
    margin: 15px 0 15px 25px;
}